@model ProyectoDSM.Models.MatchViewModel

@{
    ViewBag.Title = "Create";
}

<h2>No se ha podido enviar la petición</h2>



<p>Ya has hecho match con ese Usuario</p>

<div>
    @Html.ActionLink("Volver al inicio", "Index", "Usuario")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
